.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 6;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox-content{

	height: 100%;
}

.lightbox-image{
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	display: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	left: 50%;

}

.lightbox-close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.lightbox-close:hover,
.lightbox-close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}


.lightbox-previousSlide,
.lightbox-nextSlide {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

  /* Position the "next button" to the right */
.lightbox-nextSlide {
	right: 0;
	border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.lightbox-previousSlide:hover,
.lightbox-nextSlide:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
